# IDE
.vscode

# virtual env
adress_book/.env
.bash_profile.save
bin
include
lib
share

# collectstatic files
/static/admin

# migration files
/**/migrations/

# cache
/**/__pycache__/
/**/**/*.pyc

# idk why ignore doecnt see cache and migrations
